.Tilt{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,112,1) 41%, rgba(136,0,255,1) 100%);
}
.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
}